
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: white;  
}  
h1{
    text-align:center;
}

button {   
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(233,237,42,1) 0%, rgba(0,212,255,1) 100%);
       width: 100%;  
        color: black;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid green;
    }   
    
 input[type=text], input[type=password] {   
        width: 100%;   
        margin: 8px 0;      
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid black;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
    
      
     
 .container {   
        position:absolute;
        padding: 25px;   
        background-color: white;  
        width:50%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }   